.project_vimrc
obj/
packages/
bin/
.DS_Store

compiler/lib/debug
compiler/lib/release
compiler/lib/proto
compiler/lib/bootstrap/4.0/*.mdb
compiler/lib/bootstrap/4.0/*.xml
compiler/lib/bootstrap/4.0/fsharpc
compiler/lib/bootstrap/4.0/fsharpi
compiler/lib/bootstrap/4.0/policy*
compiler/src/*.userprefs
compiler/src/fsharp/FSStrings.resources
compiler/src/fsharp/FSharp.Build/*.resx
compiler/src/fsharp/FSharp.Build-proto/*.resx
compiler/src/fsharp/FSharp.Build-proto/*.resources
compiler/src/fsharp/FSharp.Compiler-proto/*.resx
compiler/src/fsharp/FSharp.Compiler-proto/*.resources
compiler/src/fsharp/FSharp.Compiler-proto/*.sln
compiler/src/fsharp/FSharp.Compiler-proto/*.userprefs
compiler/src/fsharp/fsi/*.resx
compiler/src/fsharp/FSharp.Compiler.Interactive.Settings/*.resx
compiler/src/fsharp/FSharp.Compiler.Server.Shared/*.resx
compiler/src/fsharp/fsi/Fsi.sln
compiler/src/fsharp/FSharp.Build/*.resources
compiler/src/fsharp/FSharp.Compiler/*.resx
compiler/src/fsharp/FSharp.Compiler/*.resources
compiler/src/fsharp/FSharp.Compiler/*.sln
compiler/src/fsharp/FSharp.Compiler/*.userprefs
compiler/src/fsharp/FSharp.Compiler/illex.fs
compiler/src/fsharp/FSharp.Compiler/ilpars.fs
compiler/src/fsharp/FSharp.Compiler/ilpars.fsi
compiler/src/fsharp/FSharp.Compiler/lex.fs
compiler/src/fsharp/FSharp.Compiler/pars.fs
compiler/src/fsharp/FSharp.Compiler/pars.fsi
compiler/src/fsharp/FSharp.Compiler-proto/illex.fs
compiler/src/fsharp/FSharp.Compiler-proto/ilpars.fs
compiler/src/fsharp/FSharp.Compiler-proto/ilpars.fsi
compiler/src/fsharp/FSharp.Compiler-proto/lex.fs
compiler/src/fsharp/FSharp.Compiler-proto/pars.fs
compiler/src/fsharp/FSharp.Compiler-proto/pars.fsi

aclocal.m4
Debug
Proto
.libs
Makefile
configure
launcher
autom4te.cache
config.log
config.make
config.status
lkg
